
.App {
  text-align: center;
  position: relative;
}
.box1, .box2, .box3, .box4, .box5, .App-header{
  text-align: center;
 
  width: calc(40vh - 50px);
  height: calc(40vh - 50px);
  background: #A99;
  padding: 6px;
  

}
.box1:hover{
 background-color: skyblue;

}
.container{
 
  font-size: 40px;
  min-height: 100px;
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr;
  grid-gap: 200px;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  background: #282c34;
  background-size: 100%;
  background-position: center;

 
}


.Applogo {
  height: 20vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .Appheader {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Appheader {

  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  height: 30px;
  grid-area: 1/2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}