#InputBox{
    width: 40vw;
    height: 100vh;

background:#9aa19d;
border: 10px solid #232423
}
#InputResult{
background: #d9d9d9;
color: black;
width: 40vw;
height: 100vh;
border: 10px solid #232423;
padding: 10px;
word-wrap: break-word;
justify-content: center;
justify-items: center;
align-items: center;
text-align: left;
overflow: hidden;
overflow-y: scroll;
overflow-x: scroll;
}
#holder{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    grid-template-rows: minmax(500px, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    background: #404743;  
    width: 100%; 
}
#textResult{

color: black;
word-wrap: break-word;
}
.mainBG{
 
}